---
import GitHubIcon from './GitHubIcon.astro'
import { Image } from 'astro:assets'
import Gera from '../assets/gera.jpg'
import Mich from '../assets/mich.jpg'
import Liz from '../assets/liz.jpg'
import Jess from '../assets/jess.jpeg'
import Edwin from '../assets/edwin.jpg'
---

<style>
  .slider-container {
    position: relative;
    width: 90%;
    max-width: 1228px;
    overflow: hidden;
    margin: 0 auto;
  }

  .slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .slider-item {
    min-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  .slider-content {
    display: flex;
    flex-direction: row;
    gap: 67px;
    justify-content: center;
    align-items: center;
  }

  .slider-image {
    border-radius: 20px;
    width: 200px;
    height: 200px;
  }

  .slider-info {
    display: flex;
    flex-direction: column;
  }
</style>

<div class="slider-container">
  <div class="slider-wrapper" id="sliderWrapper">
    <div class="slider-item">
      <div class="slider-content">
        <Image src={Gera} alt="Gerardo Ontiveros" class="slider-image" />
        <div class="slider-info">
          <p class="text-xl">Apasionado por aprender cosas nuevas y enfrentar nuevos desafíos. Chihuahua, México 🇲🇽.</p>
          <p class="text-2xl mt-8 bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] inline-block text-transparent bg-clip-text">Gerardo Ontiveros</p>
          <p class="text-xl mt-1 font-bold">Full-Stack | UI/UX | DATABASE</p>
          <a  href="https://github.com/Gerardo-Ontiveros" class="flex mt-4 items-center p-[1.5px] justify-center border-0 rounded-full  bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] w-[219px] h-[45.95px] hover:animate-gradient">
            <div class="flex rounded-full bg-gray-900 h-full w-full items-center justify-center gap-2">
            <GitHubIcon/>
            GitHub
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="slider-item">
      <div class="slider-content">
        <Image src={Mich} alt="Michelle Ortega" class="slider-image" />
        <div class="slider-info">
          <p class="text-xl">Comprometida con el aprendizaje continuo y la superación personal Durango, México 🇲🇽.</p>
          <p class="text-2xl mt-8 bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] inline-block text-transparent bg-clip-text">Michelle Ortega</p>
          <p class="text-xl mt-1 font-bold"> BACKEND | DATABASE</p>
          <a  href="https://github.com/mich0rtega" class="flex mt-4 items-center p-[1.5px] justify-center border-0 rounded-full  bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] w-[219px] h-[45.95px] hover:animate-gradient">
            <div class="flex rounded-full bg-gray-900 h-full w-full items-center justify-center gap-2">
            <GitHubIcon/>
            GitHub
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="slider-item">
      <div class="slider-content">
        <Image src={Liz} alt="Lizeth Salinas" class="slider-image" />
        <div class="slider-info">
          <p class="text-xl">Durango, México 🇲🇽.</p>
          <p class="text-2xl mt-8 bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] inline-block text-transparent bg-clip-text">Lizeth Ramos</p>
          <p class="text-xl mt-1 font-bold"> FRONEND | DEVOPS </p>
          <a  href="https://github.com/lizsr" class="flex mt-4 items-center p-[1.5px] justify-center border-0 rounded-full  bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] w-[219px] h-[45.95px] hover:animate-gradient">
            <div class="flex rounded-full bg-gray-900 h-full w-full items-center justify-center gap-2">
            <GitHubIcon/>
            GitHub
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="slider-item">
      <div class="slider-content">
        <Image src={Jess} alt="Jessica Rivera" class="slider-image" />
        <div class="slider-info">
          <p class="text-xl">Desarrolladora creativa que une arte y tecnología para soluciones digitales únicas. Durango, México 🇲🇽.</p>
          <p class="text-2xl mt-8 bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] inline-block text-transparent bg-clip-text">Jessica Rivera</p>
          <p class="text-xl mt-1 font-bold"> FRONEND | DOCUMENTACIÓN </p>
          <a  href="https://github.com/jessr1vera" class="flex mt-4 items-center p-[1.5px] justify-center border-0 rounded-full  bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] w-[219px] h-[45.95px] hover:animate-gradient">
            <div class="flex rounded-full bg-gray-900 h-full w-full items-center justify-center gap-2">
            <GitHubIcon/>
            GitHub
            </div>
          </a>
        </div>
      </div>
    </div>

    <div class="slider-item">
      <div class="slider-content">
        <Image src={Edwin} alt="Edwin Solorza" class="slider-image" />
        <div class="slider-info">
          <p class="text-xl">Comprometido con el aprendizaje para el desarrollo del diseño de páginas, logotipos, etc. Durango, México 🇲🇽.</p>
          <p class="text-2xl mt-8 bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] inline-block text-transparent bg-clip-text">Edwin Solorza</p>
          <p class="text-xl mt-1 font-bold"> FRONEND | UI/UX | CALIDAD </p>
          <a  href="https://github.com/edwins0l0rza" class="flex mt-4 items-center p-[1.5px] justify-center border-0 rounded-full  bg-gradient-to-r from-[#00f0ff] via-[#5200ff] to-[#ff2df7] w-[219px] h-[45.95px] hover:animate-gradient">
            <div class="flex rounded-full bg-gray-900 h-full w-full items-center justify-center gap-2">
            <GitHubIcon/>
            GitHub
            </div>
          </a>
        </div>
      </div>
    </div>

  </div>
</div>

<script type="module">
  let currentSlide = 0;
  const slides = document.querySelectorAll(".slider-item");
  const sliderWrapper = document.getElementById("sliderWrapper");

  function goToNextSlide() {
    currentSlide = (currentSlide + 1) % slides.length;
    const offset = -currentSlide * 100;
    sliderWrapper.style.transform = `translateX(${offset}%)`;
  }

  setInterval(goToNextSlide, 3000);
</script>